{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <title>my data</title>
</head>
<body>
    <h1>Members</h1>
  
<ul>
  {% for x in mymembers %}
    <li>{{ x.productName }} <a href="details/{{ x.id }}">lets go</a></li>
  {% endfor %}
</ul>

</body>
</html>



<!-- {{ x.material }} {{ x.price }} {{ x.pub_date }} {{ x.size }} -->